<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

    <style>
        g.node-SELECTED>rect {
            fill: #00ffd0;
        }

        g.node-UNSELECTED>rect {
            fill: #dddd;
        }

        g.edge-SELECTED>path.path {
            stroke: #ff5252;
            stroke-width: 2;
        }

        g.edge-UNSELECTED>path.path {
            stroke: #000;
            stroke-width: 1.5px;
        }

        .clickable-edge {
            stroke-width: 25px !important;
            opacity: 0 !important;
        }


        g.edge-UNSELECTED>path {
            fill: #dddd;
        }

        text {
            font-weight: 300;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
        }

        .node rect {
            stroke: #999;
            fill: #fff;
            stroke-width: 1.5px;
        }

        .edgePath path {
            stroke: #333;
            stroke-width: 1.5px;
        }

        #app {
            padding-top: 50px;
        }

        .md-card {
            padding: 15px;
        }

        .md-layout {
            padding-left: 25px;
            padding-right: 25px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="md-layout md-gutter md-alignment-start">
            <div v-if="!sketchRoot" class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">
                <md-empty-state md-icon="account_tree" md-label="Create your initial state"
                    md-description="Creating your initial state, you'll be able to start designing your workflow.">

                    <md-field>
                        <label>Initial Name: </label>
                        <md-input v-model="initialStateName"></md-input>
                        <md-button class="md-raised md-primary" v-on:click="initializeSketch">Create</md-button>
                    </md-field>
                </md-empty-state>
            </div>
            <div class="md-layout md-gutter md-alignment-start" v-else>
                <div v-if="selectedNode" id="sketch"
                    class="md-layout-item md-medium-size-70 md-small-size-100 md-xsmall-size-100">
                    <md-card>
                        <md-card-content>
                            <svg width="650" height="270">
                                <defs>
                                    <filter id="glow">
                                        <fegaussianblur class="blur" result="coloredBlur" stddeviation="4">
                                        </fegaussianblur>
                                        <femerge>
                                            <femergenode in="coloredBlur"></femergenode>
                                            <femergenode in="coloredBlur"></femergenode>
                                            <femergenode in="coloredBlur"></femergenode>
                                            <femergenode in="SourceGraphic"></femergenode>
                                        </femerge>
                                    </filter>
                                </defs>
                            </svg>
                            <div v-if="sketchRoot && Object.keys(sketchRoot.childs).length != 0">
                                <md-field>
                                    <label>New state name from "{{ selectedNode.name }}": </label>
                                    <md-input v-model="newStateName"></md-input>
                                    <md-button class="md-raised md-primary" v-on:click="createState">Create</md-button>
                                </md-field>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div id="input" class="md-layout-item md-medium-size-30 md-small-size-100 md-xsmall-size-100">
                    <div class="container">
                        <div v-if="selectedEdge">
                            <md-card>
                                <md-card-content>
                                    <div class="md-field md-has-value">
                                        <label>Source State: </label>
                                        <md-chip>{{ selectedEdge.sourceNode.name }}</md-chip>
                                    </div>

                                    <div class="md-field md-has-value">
                                        <label>Destination State: </label>
                                        <md-chip>{{ selectedEdge.targetNode.name }}</md-chip>
                                    </div>

                                    <md-field class="md-field md-has-value">
                                        <label>Priority: </label>
                                        <md-input v-model="newApproval.priority" type="number"></md-input>
                                    </md-field>

                                    <div class="md-field md-has-value">
                                        <label for="permissions">Permissions: </label>
                                        <div class="col-75">
                                            <multiselect v-model="newApproval.permissions"
                                                :options="availablePermissions" :multiple="true"
                                                :close-on-select="false" :clear-on-select="true" :preserve-search="true"
                                                placeholder="Pick permission(s)" label="name" track-by="name">
                                                <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                                                        class="multiselect__single"
                                                        v-if="newApproval.permissions.length &amp;&amp; !isOpen">{{ newApproval.permissions.length }}
                                                        options
                                                        selected</span></template>
                                            </multiselect>
                                        </div>
                                    </div>

                                    <div class="md-field md-has-value">
                                        <label for="permissions">Groups: </label>

                                        <multiselect v-model="newApproval.groups" :options="availableGroups"
                                            :multiple="true" :close-on-select="false" :clear-on-select="true"
                                            :preserve-search="true" placeholder="Pick group(s)" label="name"
                                            track-by="name">
                                            <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                                                    class="multiselect__single"
                                                    v-if="newApproval.groups.length &amp;&amp; !isOpen">{{ newApproval.groups.length }}
                                                    options
                                                    selected</span></template>
                                        </multiselect>
                                    </div>
                                </md-card-content>
                                <md-card-actions>
                                    <md-button class="md-raised md-primary">Create Approval</md-button>
                                    <md-card-actions>
                            </md-card>
                        </div>
                        <div v-else-if="sketchRoot && Object.keys(sketchRoot.childs).length == 0">

                            <md-empty-state md-icon="account_tree" md-label="Create your second state"
                                md-description="Creating your first state, you'll be able to start configuring your first transition.">

                                <md-field>
                                    <label>Second state name from "{{ selectedNode.name }}": </label>
                                    <md-input v-model="newStateName"></md-input>
                                    <md-button class="md-raised md-primary" v-on:click="createState">Create</md-button>
                                </md-field>
                            </md-empty-state>
                        </div>
                        <div v-else>
                            <md-empty-state md-icon="mouse" md-label="Select a transition"
                                md-description="Selecting a transition by clicking the arrow, you'll be able to create approvals and configure them.">
                            </md-empty-state>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>

        class Edge {
            constructor(sourceNode, targetNode, elem) {
                this.sourceNode = sourceNode
                this.targetNode = targetNode
                this.elem = elem
                this.id = sourceNode.id + "+" + targetNode.id
            }
        }

        class Node {
            constructor(name, parent) {
                this.id = '_' + Math.random().toString(36).substr(2, 9);
                this.name = name
                this.parent = parent
                this.childs = {}
                this.approvals = {}
                if (this.parent) {
                    this.parent.addChild(this)
                }
            }

            addChild(node) {
                this.childs[node.id] = node
            }

            addApprovals(approval) {
                this.approvals[approval.id] = approval
            }
        }

        class Approval {
            constructor() {
                this.id = undefined
                this.permissions = []
                this.groups = []
                this.priority = 0
            }
        }

        Vue.use(VueMaterial.default)
        Vue.component('multiselect', window.VueMultiselect.default)
        var app = new Vue({
            el: '#app',
            data: {
                initialStateName: undefined,
                sketchRoot: undefined,
                nodeIndexMapping: {

                },
                nodeMapping: {

                },
                selectedEdge: undefined,
                selectedNode: undefined,
                selectedPermissions: [],
                selectedGroups: [],

                newApproval: new Approval(),
                newStateName: undefined,

                availablePermissions: [
                    { name: 'ticket.start-working' },
                    { name: 'ticket.resolve' },
                    { name: 'ticket.re-open' },
                    { name: 'ticket.close' },
                ],
                availableGroups: [
                    { name: 'Team Leader' },
                    { name: 'Developer' },
                ]
            },

            methods: {
                createState() {
                    var existingNewState = this._exists(this.newStateName)
                    if (!existingNewState) {
                        var newNode = new Node(this.newStateName, this.selectedNode)
                        var newEdge = new Edge(this.selectedNode, newNode)
                        this._renderSketch()
                        this.newStateName = undefined
                        this._unselectNode()
                        this.selectedNode = newNode
                        this._selectNode()
                        return newNode
                    } else {
                        this.selectedNode.addChild(existingNewState)
                        this._renderSketch()
                        this.newStateName = undefined
                        return existingNewState
                    }
                },
                initializeSketch() {
                    this.sketchRoot = new Node(this.initialStateName, undefined)
                    this.selectedNode = this.sketchRoot
                    Vue.nextTick(() => {
                        this.svg = d3.select("svg")

                        this.graph = new dagreD3.graphlib.Graph()
                            .setGraph({})
                            .setDefaultEdgeLabel(function () { return {}; });

                        var render = new dagreD3.render();

                        // Set up an SVG group so that we can translate the final graph.
                        this.svg = d3.select("svg")
                        this.svgGroup = this.svg.append("g");

                        this._renderSketch()
                    });

                    // Run the renderer. This is what draws the final graph.

                },

                _exists(stateName) {
                    var thisApp = this
                    var existingNodeId = Object.keys(this.nodeMapping).find(function (nodeId) {
                        var node = thisApp.nodeMapping[nodeId]
                        return node.name == stateName
                    })
                    return existingNodeId ? this.nodeMapping[existingNodeId] : undefined
                },

                _createNode(node, index) {
                    this.nodeMapping[node.id] = node
                    this.nodeIndexMapping[node.id] = index
                    this.graph.setNode(index, { label: node.name, class: "node-UNSELECTED", id: node.id });
                },

                _createEdge(fromNode, toNode) {
                    this.graph.setEdge(this._getNodeIndex(fromNode), this._getNodeIndex(toNode));
                },

                _destroySketchComponents() {
                    var g = this.graph
                    this.graph.nodes().forEach(function (v) {
                        g.removeNode(v);
                    });

                    this.graph.edges().forEach(function (v) {
                        g.removeEdge(v);
                    });
                },
                _renderLayer(node, index, processedNodeIds) {
                    var indexIncrease = 0
                    if (!processedNodeIds.includes(node.id)) {
                        processedNodeIds.push(node.id)
                        var thisApp = this
                        Object.keys(node.childs).forEach(function (childId) {
                            var child = node.childs[childId]
                            if (child) {
                                if (!processedNodeIds.includes(child.id)) {
                                    thisApp._createNode(child, index)
                                    indexIncrease++
                                    index++
                                }
                                thisApp._createEdge(node, child)

                                indexIncrease += thisApp._renderLayer(child, index, processedNodeIds)
                                index += indexIncrease
                            }
                        })

                    }
                    return indexIncrease

                },
                _renderSketch() {
                    if (this.sketchRoot) {
                        this._destroySketchComponents()

                        this._createNode(this.sketchRoot, 0)
                        this._renderLayer(this.sketchRoot, 1, [])

                        this._roundNodeCorners()

                        var render = new dagreD3.render();
                        render(d3.select("svg g"), this.graph);

                        this._reCenterSketch()
                        this._setOnclicks()
                        this._selectNode()
                    }
                },
                _setOnclicks() {
                    var thisApp = this
                    var allEdgeG = d3.select("g.edgePaths").selectAll("g.edgePath").nodes()
                    allEdgeG.forEach(function (edgeG, index) {
                        var edgeFromGraph = thisApp.graph.edges()[index]
                        var sourceNodeIndex = edgeFromGraph.v
                        var targetNodeIndex = edgeFromGraph.w
                        var indexNodeMapping = Object.keys(thisApp.nodeIndexMapping)
                            .reduce((obj, key) => Object.assign({}, obj, { [thisApp.nodeIndexMapping[key]]: key }), {});

                        var sourceNode = thisApp.nodeMapping[indexNodeMapping[sourceNodeIndex]]
                        var targetNode = thisApp.nodeMapping[indexNodeMapping[targetNodeIndex]]
                        var path = d3.select(edgeG).select("path")
                        // Make it easier to click by adding a transparent wider path
                        d3.select(edgeG).append("path")
                            .attr("d", d3.select(edgeG).select("path").attr("d"))
                            .classed("clickable-edge", true)
                            .on("click", function () {
                                thisApp._unselectEdge()
                                thisApp.selectedEdge = new Edge(sourceNode, targetNode, edgeG)
                                thisApp._selectEdge()
                            })
                    })
                    Object.keys(this.nodeMapping).forEach(function (nodeId) {
                        d3.select("g#" + nodeId + " rect").on("click", function () {
                            thisApp._unselectNode()
                            thisApp.selectedNode = thisApp.nodeMapping[nodeId]
                            thisApp._selectNode()
                        })
                    })
                },
                _selectNode() {
                    d3.select('g#' + this.selectedNode.id).classed('node-UNSELECTED', false).classed('node-SELECTED', true)
                },
                _unselectNode() {
                    if (this.selectedNode) {
                        d3.select('g#' + this.selectedNode.id).classed('node-SELECTED', false).classed('node-UNSELECTED', true)
                    }
                },
                _selectEdge() {
                    d3.select(this.selectedEdge.elem).classed("edge-SELECTED", true).classed('edge-UNSELECTED', false)
                },
                _unselectEdge() {
                    if (this.selectedEdge) {
                        d3.select(this.selectedEdge.elem).classed("edge-SELECTED", false).classed('edge-UNSELECTED', true)
                    }
                },
                _getNodeIndex(node) {
                    return this.nodeIndexMapping[node.id]
                },
                _reCenterSketch() {
                    var xCenterOffset = (this.svg.attr("width") - this.graph.graph().width) / 2;
                    this.svgGroup.attr("transform", "translate(" + xCenterOffset + ", 20)");
                    this.svg.attr("height", this.graph.graph().height + 40);
                },
                _roundNodeCorners() {
                    var g = this.graph
                    this.graph.nodes().forEach(function (v) {
                        var node = g.node(v);
                        node.rx = node.ry = 5;
                    });
                }
            }
        })
    </script>
</body>

</html>